{% extends "base.html" %}
{% block title %}Youtube Reranking{% endblock %}
{% block body %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Youtube reranking</h1>
                        
                        <div class="col-md-8 col-md-offset-2">
                        
                            <form role="search" method="POST" action="result/">
                        
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Keyword" name="keyword" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="#" class="link-advanced-filters">Advanced filters</a>
                                </div>

                                <div class="advanced-filters">
                                    <hr class="intro-divider">

<div class="form-group row">
  <div class="col-xs-1">
      <input type="checkbox" name="checkbox-date" id="checkbox-date" class="css-checkbox">
      <label for="checkbox-date" class="css-label"></label>
  </div>
  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
  <div class="col-xs-5">
    <div class="input-group date" id="date" data-provide="datepicker">
        <input type="text" class="form-control" name="date">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
  </div>
  <div class="col-xs-4">
      <div class="slider"></div>
      <div class="slider-text text-center">0.0</div>
       <input type="text" class="slider-input hidden" value=0 name="weight-date">
  </div>
</div>

<div class="form-group row">
    <div class="col-xs-1">
        <input type="checkbox" name="checkbox-views" id="checkbox-views" class="css-checkbox">
        <label for="checkbox-views" class="css-label"></label>
  </div>
  <label for="example-date-input" class="col-xs-2 col-form-label">Views</label>
  <div class="col-xs-5">
    <input class="form-control" type="number" placeholder="1000000" name="views" id="example-number-input">
  </div>
  <div class="col-xs-4">
      <div class="slider"></div>
      <div class="slider-text text-center">0.00</div>
      <input type="text" class="slider-input hidden" value=0 name="weight-views">
  </div>
</div>
<div class="form-group row">
    <div class="col-xs-1">
      <input type="checkbox" name="checkbox-duration" id="checkbox-duration" class="css-checkbox">
      <label for="checkbox-duration" class="css-label"></label>
  </div>
  <label for="example-text-input" class="col-xs-2 col-form-label">Duration</label>
  <div class="col-xs-5">
    <input class="form-control" type="number" placeholder="42" name="duration" id="example-number-input">
  </div>
  <div class="col-xs-4">
      <div class="slider"></div>
      <div class="slider-text text-center">0.00</div>
      <input type="text" class="slider-input hidden" value=0 name="weight-duration">
  </div>
</div>
<div class="form-group row">
    <div class="col-xs-1">

    </div>
  <label for="example-lat-input" class="col-xs-2 col-form-label">Latitude</label>
  <div class="col-xs-5">
    <input class="form-control" name="lat" id="lat">
  </div>
  <div class="col-xs-4">
      
  </div>
</div>
<div class="form-group row">
    <div class="col-xs-1">

    </div>
  <label for="example-lon-input" class="col-xs-2 col-form-label">Longitude</label>
  <div class="col-xs-5">
    <input class="form-control" name="lon" id="lon">
  </div>
  <div class="col-xs-4">
     
  </div>
</div>
<div class="form-group row">
    <div class="col-xs-1">
      <input type="checkbox" name="checkbox-location" id="checkbox-location" class="css-checkbox">
      <label for="checkbox-location" class="css-label"></label>
  </div>
  <label for="example-location-input" class="col-xs-2 col-form-label">Location</label>
  <div class="col-xs-5">

  </div>
  <div class="col-xs-4">
      <div class="slider"></div>
      <div class="slider-text text-center">0.00</div>
      <input type="text" class="slider-input hidden" value=0 name="weight-location">
  </div>
  <div id="map" style="width: 100%; height: 300px;"></div>
</div>

                        

                                </div>
                            </form>
                        </div>
                    
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
{% endblock %}